<section class="my-0">
  <h1 class="text-main text-start my-2">Forget Password !</h1>
  @if (step == 1) {
    <form [formGroup]="verifyEmail" class="bg-main-light shadow rounded-4 p-3" (ngSubmit)="verifyEmailSubmit()">
      <div class="my-2">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
      </div>
      <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email </button>
    </form>
  }
  @else if (step == 2) {
    <form [formGroup]="verifyCode" class="bg-main-light shadow rounded-4 p-3" (ngSubmit)="verifyCodeSubmit()">
      <div class="my-2">
        <label for="resetCode">resetCode</label>
        <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
      </div>
      <button [disabled]="verifyCode.invalid" class="btn-main">Verify Code </button>
    </form>
  }
 @else if (step==3) {
  <form [formGroup]="resetPassword" class="bg-main-light shadow rounded-4 p-3" (ngSubmit)="resetPasswordSubmit()">
    <div class="my-2">
      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email" class="form-control">
    </div>
    <div class="my-2">
      <label for="newPassword">newPassword</label>
      <input formControlName="newPassword" type="newPassword" id="password" class="form-control">
    </div>
    <button [disabled]="resetPassword.invalid" class="btn-main">Reset Password </button>
  </form>
 }
  
</section>