@if(detailsProduct){
  <section>
    <div class="row align-items-center">
      <div class="col-md-3">
        <div>
           <img  class="w-100" [src]="detailsProduct.imageCover" [alt]="detailsProduct.imageCover">
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <h2>{{detailsProduct.title}}</h2>
          <p class="text-muted">{{detailsProduct.description}}</p>
          <h3 class="h6">{{detailsProduct.category.name}}</h3>
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ detailsProduct.price }}EGP</span>
            <div>
              @for(num of [1,2,3,4,5].slice( 0, detailsProduct.ratingsAverage) ;track $index){
              <span><i class="fas fa-star rating-color"></i></span>
              } @if(detailsProduct.ratingsAverage % 1 !==0){
              <i class="fa-solid fa-star-half-stroke rating-color"></i>
              }
              <span class="text-muted">{{ detailsProduct.ratingsAverage }}</span>
            </div>
          </div>        
        </div>
        <span (click)="addWishList(detailsProduct._id)"> <i  class="fa-solid fa-heart h3"> </i> </span>
        <button class="btn-main w-100"  (click)="addCart(detailsProduct._id)"> + Add to Card</button>
      </div>
    </div>
  </section>
}
